---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Normandy Shuttle Drivers">
	<main>
		<section>
			<p><span><img src="" alt=""></span>Où souhaitez-vous allez aujourd’hui ? </p>
			<h1>Votre chauffeur VTC disponible sur Caen et toute la Normandie</h1>
			<div>
				<div><p>Chauffeur VTC 24h/24 et 7J/7</p></div>
				<div><p>Réponse rapide</p></div>
				<div><p>Ponctualité assurée</p></div>
				<div><p>Courtes et longues distances</p></div>
			</div>
		</section>
	</main>
</Layout>

<style>
	
</style>
